[Desktop Entry]
Version=0.9.4
Type=Application
Name=Redshift
Comment=
Exec=redshift -m randr
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false
